<div class="center hero-unit">
	<h1>Writer Assistant</h1>

	<h2> 
		Bienvenue sur l'application d'aide à l'écriture d'un livre : Writer Assistant.
	</h2>

	<%= link_to "Sign in !", signin_path, class: "btn btn-large btn-primary" %>
</div>

<p style="text-align:center"><%= image_tag("book.png", alt: "book") %></p>
