<div class="center hero-unit">
	<h1>Writer Assistant</h1>

	<h2> 
		Bienvenue sur l'application d'aide à l'écriture d'un livre : Writer Assistant.
	</h2>

	<%= link_to "Sign in !", "#", class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("book.png", alt: "book")%>
