<div class="contenu">
	<% if (@scenes.blank?) then %>
		<h2>No scene for now</h2>
	<% else %>
	  <h2>List of scenes available</h2>
	  <ul>  
	    <%- @scenes.each do |scene| %>
	      <li>N°<%= scene.id %> : <%= scene.name %></li>
	    <%- end %>
	  </ul>
	<% end %>
</div>