<div class="contenu">
	<% if (@chapters.blank?) then %>
	  	<h2>No chapter for now.</h2>
	<% else %>
		<h2>List of exisiting chapters, don't use the same.</h2>
		<ul>  
			<%- @chapters.each do |chapter| %>
			  	<li>N°<%= chapter.number %> : <%= chapter.title %></li>
			<%- end %>
		</ul>
	<% end %>
</div>